# BTT SKR Mini E3 V3.0 Upgrade

# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include macros_config.cfg]
[include timelapse.cfg]
[include TEST_SPEED.cfg]
[include KlackEnder.cfg]

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : -5.0  ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 10.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
# variable_retract          : 1.0   ; the value to retract while PAUSE
# variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
# variable_speed_retract    : 35.0  ; retract speed in mm/s
# variable_unretract        : 1.0   ; the value to unretract while RESUME
# variable_speed_unretract  : 35.0  ; unretract speed in mm/s
# variable_speed_hop        : 15.0  ; z move speed in mm/s
# variable_speed_move       : 100.0 ; move speed in mm/s
# variable_park_at_cancel   : False ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
# variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
# variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
# variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
# variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
# variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
# variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

[exclude_object]

# [bltouch]
# sensor_pin: ^PC14 #Remove ^ if print head crashes into bed, the ^ is for the CR touch a bl touch should work without.
# control_pin: PA1
# x_offset: -40
# y_offset: -10
# z_offset: 3.0
# #speed:

# [safe_z_home]
# home_xy_position: 115,115 # Change coordinates to the center of your print bed
# speed: 50
# z_hop: 10                 # Move up 10mm
# z_hop_speed: 5

[temperature_sensor Pi_Zero_2W]
sensor_type: temperature_host
min_temp: 0
max_temp: 80

[temperature_sensor SKR_Mini_E3_MCU]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 80

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_min: 0
position_max: 235 # klack probe docking position
homing_speed: 80
second_homing_speed: 20

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: -10
position_min: -10
position_max: 230
homing_speed: 80
second_homing_speed: 20

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
# rotation_distance: 8
rotation_distance: 40
gear_ratio: 80:16
# endstop_pin: ^PC2
# position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_min: -3.5
position_max: 247
homing_speed: 10
second_homing_speed: 1
homing_retract_dist: 2.0

[tmc2209 stepper_z]
interpolate: true
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 0

[extruder]
max_extrude_only_distance: 100.0
min_extrude_temp: 180  #for filament change
max_extrude_cross_section: 4.8 # it was 2.4 before
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 7.63 #33.500
# nozzle_diameter: 0.400
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300

# #Orbiter V2.5 Extruder
# [extruder]
# step_pin: PB3
# dir_pin: !PB4
# enable_pin: !PD1
# microsteps: 32
# full_steps_per_rotation: 200
# rotation_distance: 4.69
# nozzle_diameter: 0.4
# filament_diameter: 1.750
# max_extrude_only_distance: 500
# max_extrude_only_velocity: 120
# pressure_advance: 0.025                         #to be calibrated
# pressure_advance_smooth_time: 0.03     #to be calibrated
# heater_pin: PC8
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: PA0
# control: pid
# pid_Kp: 21.527
# pid_Ki: 1.063
# pid_Kd: 108.982
# min_temp: -200
# max_temp: 250
# min_extrude_temp: 20 #testing extruder motor

[tmc2209 extruder]
# interpolate: false
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 5

# [tmc2209 extruder] # configuration example for O2 toolboard orbiter v2.5
# interpolate: false
# uart_pin: PC11
# tx_pin: PC10
# uart_address: 3
# run_current: 0.85
# hold_current: 0.500
# sense_resistor: 0.11 
# stealthchop_threshold: 0
# driver_TBL: 0
# driver_HEND: 6
# driver_HSTRT: 7
# driver_TOFF: 4

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: -100
max_temp: 130

[heater_fan controller_fan]
pin: PB15
heater: heater_bed
heater_temp: 45.0

[heater_fan nozzle_cooling_fan]
pin: PC7

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3900430014504B5735313920-if00
# serial: /dev/ttyAMA0
# restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: cartesian
max_velocity: 650
max_accel: 3400
# max_z_velocity: 5
# max_z_accel: 100
minimum_cruise_ratio: 0.5
max_z_velocity: 40 #ran 40 for 1 year without any problems after belt driven mod, before it was 5.0
square_corner_velocity: 5.0
max_z_accel: 500 #ran 150 for an year without any issues trying to push it no

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 103.2
shaper_type_y: mzv
shaper_freq_y: 33.8
shaper_type_z: 3hump_ei
shaper_freq_z: 48.0

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>


######################################################################
#  BigTreeTech TFT TouchScreen emulated 12864 mode
######################################################################

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[output_pin beeper]
pin: PB5

# [bed_mesh]
# speed: 120
# horizontal_move_z: 5
# mesh_min: 10, 10
# mesh_max: 190, 220
# probe_count: 5,5

[bed_mesh]
speed: 120
mesh_min: 25,30         # Need to handle head distance with cr-touch (bl_touch)
mesh_max: 210,190       # Max probe range
probe_count: 5,5
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic

[bed_screws]
screw1:30,25
screw1_name:1
screw2:200,25
screw2_name:2
screw3:200,195
screw3_name:3
screw4:30,195
screw4_name:4

[screws_tilt_adjust]
screw1: 74, 35
screw1_name: front left screw
screw2: 214, 35
screw2_name: front right screw
screw3: 214, 205
screw3_name: rear right screw
screw4: 74, 205
screw4_name: rear left screw
horizontal_move_z: 10
speed: 200
screw_thread: CW-M4 # Use CW for Clockwise and CCW for Counter Clockwise


[display_status]


[adxl345]
cs_pin: rpi:None
# rate: 800 # for continuous monitoring/testing

[resonance_tester]
accel_chip: adxl345
probe_points:
    112, 110, 20  #around in the middle
max_freq_z: 100 # 100 by default
accel_per_hz: 12.5 # 12.5 by default
sweeping_accel_z: 50 # 50 by default
accel_chip_z: adxl345  # no default; if unset, must be provided in CHIPS=<..> parameter


[gcode_macro change_tune]
description: Change filament tune
gcode:
    M300 S440 P200
    M300 S660 P250
    M300 S880 P300

[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
      {action_call_remote_method("spoolman_set_active_spool", spool_id=id)}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}
  
[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method("spoolman_set_active_spool", spool_id=None)}

# [include moonraker_obico_macros.cfg]

[idle_timeout]
timeout: 4000 #600 #in seconds
gcode:
  _KM_IDLE_TIMEOUT
  M84
  TURN_OFF_HEATERS
  STATUS

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.291
#*# pid_ki = 1.146
#*# pid_kd = 89.786
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.246
#*# pid_ki = 0.841
#*# pid_kd = 1344.070
